<div class='container'>
  <div class='col-8 mx-auto bg-light p-5 m-3'>
    <%= form_with model: @article do |f| %>

      <%= f.label :category, class:'m-2' %>
      <%= collection_select(:article, :category_id,Category.all, :id, :name)%>  
      <div class=' my-3'>
        <%= f.label :title, class:'m-2' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class=' my-3'>
        <%= f.label :content, class:'m-2' %>
        <%= f.text_area :text, class: 'form-control' %>
      </div>
      <div class=' my-3'>
        <div class=''>
          <%= f.label :image, class:'m-2' %>
          <%= image_tag f.object.image_url if f.object.cached_image_data %>
          <%= f.hidden_field :image, value: f.object.cached_image_data %>
          <%= f.file_field :image %>
        </div>
      </div>
      <div class=' my-3'>
        <%= f.submit :create, class: 'm-3' %>
      </div>
    <% end %>
  <%= link_to 'Back', root_path, class:'btn btn-secondary mx-3' %>
  </div>
</div>