<div class='container'>
  <div class='col-6 mx-auto'>
    <%= form_with model: @article do |f| %>
    
      <%= collection_select(:article, :category_id,Category.all, :id, :name) %>  

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :content %>
      <%= f.text_area :text, class: 'form-control' %>

      <%= f.label :image %>
      <%= image_tag f.object.image_url if f.object.cached_image_data %>
      <%= f.hidden_field :image, value: f.object.cached_image_data %>
      <%= f.file_field :image %>

      <%= f.submit :create, class: 'm-3' %>

    <% end %>
  </div>
</div>