<div class='container-fluid'>
  <div class='row d-flex mb-5'>

    <div class='col-6 bg-light article-text1 text-center position-relative'>

      <div class='main-color text-decoration-underline m-3'>
        <%= @article.category.name.upcase%>
      </div>

      <div class='text-dark fw-bolder'>
        <%= @article.title.capitalize %>
      </div>

      <%= @article.text%>...
      <div class='position-absolute bottom-0 d-flex my-5'>
        <div class='mx-4'>
          Author:  <%= @article.author.name.capitalize%>
        </div>
      </div>
          <div class='position-absolute bottom-0 start-50 fs-6 '>
            Votes: <%= @article.votes.count%>
          </div>
          <div class='position-absolute bottom-0 fs-6 d-flex'>
            <%= vote(@article)%>
          </div>
    </div>
        <div class='col-6'>
          <%= image_tag @article.image_url, class:'article-photo1 img-fluid' if @article.image %>
        </div>

  </div>
  <div class='m-3'>
    <%= link_to 'Back', category_path(@article.category), class:'text-decoration-none main-color' %>
  </div>
</div>
    <%= render 'layouts/footer' %>